.container {
    padding: 20px 5px;
    background: #86f;
}

.caja {
    background: #025;
    align-items: center;
    height: 80px;
    width: 80px;
    margin: 20px;
    display: flex;
    color: white;
    transition: transform 1s;
    


}

.caja:hover {
    transform: scaley(2.0) translate(40px);

}