
.container {
    padding: 20px 5px;
    background: #86f;
}
.caja {
    background: #025;
    height: 80px;
    width: 80px;
    position: relative;
    animation-name:desplazar ;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

@keyframes desplazar {
    0% {
        left: 0%;
        background: green;


    }
    50% {
        background: gold;
    }

    100% {
        left: 80%;
        background: firebrick;

    }
}